<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="icon" 
      type="image/ico" 
      href="../static/img/favicon.png">
    {% block head %}    {% endblock %}
    <link rel="stylesheet" href="../static/css/bootstrap.css"/> 
<style> body {background-image:url('../static/img/background2.jpg');} </style>
    <title>{% block title %} {% endblock %} | "Sound of Leaves"</title>

  </head>
  <body>
    <div id="content">
      <center><a href="/"><img src="../static/img/banner.png" /></a><br />
      {% block content %}{% endblock %}
      </center>
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
