{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
  <form action='/playlist' method='POST'>
    <fieldset>
        <textarea name='URL' placeholder="URL of Book here"></textarea>
      <span class="help-block">This url will be parsed in our analytics engine and we will use it to blah</span>
      <button type="submit" class="btn">Submit!</button><!--Not sure how to pass the input text to the javascript.-->
    </fieldset>
  </form>
  <p> You can copy paste HTML or text links from the Gutenberg project or choose from some preselected ones here</p>
  <form action='/playlist' method='POST'>
      <button type="submit" class="btn" name='URL' value="http://www.gutenberg.org/files/844/844-h/844-h.htm"> The Importance of Being Ernest, Oscar Wilde </button>
  </form>
{% endblock %}
