{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
  <form action='/playlist' method='POST'>
    <fieldset>
        <input type="text" name='URL' placeholder="URL of Book here">
      <button type="submit" class="btn">Submit!</button><!--Not sure how to pass the input text to the javascript.-->
    </fieldset>
  </form>
<p style="font-size:18px">You can paste an HTML book or text links from the Gutenberg project or choose from some preselected ones here.<br />
    The text will be parsed with AlchemyAPI's text analytics and used to create a playlist in Spotify.</p>
  <form action='/playlist' method='POST'>
      <button type="submit" class="btn" name='URL' value="http://www.gutenberg.org/files/844/844-h/844-h.htm"> The Importance of Being Ernest, Oscar Wilde </button>
  </form>
  <form action='/playlist/Divine' method='POST'>
      <button type="submit" class="btn" name='URL' value= "http://www.gutenberg.org/files/8800/8800-h/8800-h.htm">The Divine Comedy, Dante Alighieri </button>
</form>
<form action='/playlist/Velveteen' method='POST'>
  <button type="submit" class="btn" name='URL' value="http://www.gutenberg.org/files/11757/11757-h/11757-h.htm">The Velveteen Rabbit, Margery Williams</button>
</form>
{% endblock %}
